
/* menu container green */
.menu-container {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #d8d8c7;
    -fx-background-radius: 50;
}

/* menu buttons red */
.menu-buttons {
    -fx-background-color: #9e1124;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-cursor: hand;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* menu button hover highlights green */
.menu-buttons:hover {
    -fx-background-color: #66bb6a;
}

/* menu button focus with blue edge */
.menu-buttons:focused {
    -fx-border-color: #03a9f4;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-insets: -2;
}

/* Heading text */
.heading-text {
    -fx-text-fill: #9e1124;
    -fx-font-size: 18px;
    -fx-font-family: "System Bold";
}





