.youWonText{
    -fx-font-size: 50px;
}

/* redraw container */
.redraw-container {
    -fx-background-color: #d8d8c7;
    -fx-background-radius: 20;
}

/* === Outer Dark Red Rounded Container === */
.control-container {
    -fx-background-color: #6a0f0f;   /* Dark red */
    -fx-background-radius: 12;
    -fx-alignment: center;
}

.popup-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}