.scoreText{
    -fx-font-size: 32px;
}

.levelOutcome {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 100px;
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.8) 80%, transparent);
}

/* redraw container */
.redraw-container {
    -fx-background-color: #d8d8c7;
    -fx-background-radius: 20;
}

/* === Outer Dark Red Rounded Container === */
.control-container {
    -fx-background-color: #9e1124;   /* Dark red */
    -fx-background-radius: 12;
    -fx-alignment: center;
}

.popup-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}