
/* login menu container */
.login-container {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #d8d8c7;
    -fx-background-radius: 50;
}


/* login and sign up buttons */
.login-buttons {
    -fx-background-color: #9e1124;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-cursor: hand;
}

/* text fields */
.text-fields {
    -fx-border-width: 3px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.primary-button:hover {
    -fx-background-color: #29b6f6;
}


.secondary-button:hover {
    -fx-background-color: #66bb6a;
}

/* Primary button focus */
.primary-button:focused {
    -fx-border-color: #03a9f4;
    -fx-border-width: 3px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

/* Secondary button focus */
.secondary-button:focused {
    -fx-border-color: #4caf50;
    -fx-border-width: 3px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
