
.letter-tile-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.letter-tile-value-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: darkred;
}