name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository with LFS
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: maven

      - name: Build and run tests
        run: mvn clean verify

      # Debug: check compiled test classes
      - name: List target contents
        run: ls -R target || echo "No target directory found"

      - name: List test reports
        run: ls -l target/surefire-reports/

      - name: Report
        if: always()
        uses: dorny/test-reporter@v1
        with:
          name: Maven Tests
          path: "target/surefire-reports/*.xml"
          reporter: java-junit
          fail-on-error: true

      - name: Generate Javadoc
        run: mvn javadoc:javadoc
      - name: Publish Javadoc
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: target/docs/javadoc